* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right top, blue, green, yellow);
  padding: 50px 0;
}
.content {
  width: 850px;
  max-width: 100%;
  display: flex;
  border-radius: 4px;
  margin: 0 auto;
  border: 4px solid wheat;
  z-index: 1;
  position: relative;
}
.profile {
  width: 30%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__avatar {
  width: 150px;
  height: 120px;
  padding: 15px 0;
}
.profile__avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: center;
}
.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  margin-top: 10px;
}
.social-media span {
  width: 50px;
  height: 50px;
}
.social-media span img {
  width: 100%;
  height: 100%;
}
.movies {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
}
.movie__card {
  display: flex;
  width: 32%;
  border: 2px solid black;
  height: 170px;
}
.movie__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.glass__top {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid white;
  background-color: aliceblue;
  top: -7%;
  left: -7%;
  border-radius: 50%;
}
.glass__bottom {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid white;
  background-color: aliceblue;
  border-radius: 50%;
  bottom: -7%;
  right: -7%;
  z-index: -1;
}
